<md-toolbar color="primary">

    <!-- Not needed here -->
    <!--
    <button class="app-icon-button" >
      <i class="material-icons app-toolbar-menu"  *ngIf="(isLoggedin$ | async)" >menu</i>
    </button>
    -->
    One-to-One Chatting & Image Sharing System

    <span class="app-toolbar-filler"></span>
      
    <button *ngIf="!(isLoggedin$ | async)" md-raised-button md-button [routerLink]="['signin']" color="accent" class="app-button">SignIn</button>
    <button *ngIf="!(isLoggedin$ | async)" md-raised-button [routerLink]="['signup']" color="accent" class="app-button">Signup</button>

    <button *ngIf="(isLoggedin$ | async)" md-raised-button color="accent" (click)="logout()" class="app-button">Logout</button>
    
</md-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>