.grid-tile-style {
    background-color:red !important;
    height: 100%;
}
.userlist {
    width: 25%;
    position: absolute;
    left: 0;
    height: calc(100vh - 65px);
    overflow-y: auto;
}
.chatcontent{
    width: 75%;
    position: absolute;
    right: 0;
    height: calc(100vh - 65px);
}


md-list-item:hover{
    background-color:#3f51b5 !important;
}
.card-margin {
    height: calc(100% - 50px);
}
md-card-content {
    height: calc(100% - 140px);
    overflow-y: scroll;
    overflow-x: hidden;
}

md-input-container {
    width: calc(100% - 300px);
}